:root {
  /*! Day Mode Colors  */
  --bg-color: #F2E8C6;
  --text-color: #000000;
  --secondary-text-color: #982B1C;
  --header-bg-color: #800000;
  --header-bg-color-trans: #af826081;
  --card-bg-color: #DAD4B5;
  --button-bg-color: #800000;
  --button-bg-color-trans: #800000ce;
  --button-bg-color-trans2: #8000009d;
  --button-text-color: #FFFFFF;
  --footer-bg-color: #4E342E;
  --footer-text-color: #E4C59E;
  --footer-text-color-dark: #b49671;
  --footer-txt-color-trans: #e4c49e47;
  --trans-duration: 0.3s;
  
  /*! Night Mode Colors  */
  --night-bg-color: #2C2C2C;
  --night-text-color: #FFFFFF;
  --night-secondary-text-color: #DAD4B5;
  --night-header-bg-color: #803D3B;
  --night-card-bg-color: #444444;
  --night-button-bg-color: #982B1C;
  --night-footer-bg-color: #1A1A1A;
  --night-footer-text-color: #DAD4B5;
}
.night-mode {
    --bg-color: var(--night-bg-color);
    --text-color: var(--night-text-color);
    --secondary-text-color: var(--night-secondary-text-color);
    --header-bg-color: var(--night-header-bg-color);
    --card-bg-color: var(--night-card-bg-color);
    --button-bg-color: var(--night-button-bg-color);
    --footer-bg-color: var(--night-footer-bg-color);
    --footer-text-color: var(--night-footer-text-color);
}

/* STUB - Scroll Bar */

::-webkit-scrollbar {

  width: 10px;

  height: 10px;

}

::-webkit-scrollbar-thumb:hover {

  background: var(--button-bg-color); 

}

::-webkit-scrollbar-track {

  background: var(--footer-text-color);

} 

::-webkit-scrollbar-thumb {

  background: linear-gradient(45deg, var(--button-bg-color-trans2), var(--button-bg-color-trans));

  border-radius: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-trans{
  transition: all var(--trans-duration) ease-in-out;
}
body {
    font-family: "Cairo", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}
::selection {
    color: var(--footer-text-color);
    background-color: var(--button-bg-color);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
/** Intro Load */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--card-bg-color); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}
.splash-screen .logo {
    width: fit-content; 
    animation: fadeIn 2s ease-out forwards, fadeOut 1.1s 3.6s ease-in forwards;
}
.splash-screen .logo img {
    width: 90px;
    filter: contrast(1.1);
    filter: brightness(0.9);
}
.splash-screen .logo h1 {
    color: var(--night-card-bg-color);
    font-size: 2.1rem;
    font-weight: bold;
    padding-left: 0.8rem;
}
.splash-screen .university-name {
    color: var(--night-button-bg-color); 
    font-size: 1.9rem;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards 1s, fadeOut 1.1s 4.2s ease-in forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(.8); 
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); 
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px) scale(.8);
    }
}
/* SECTION - Start Navbar */
nav {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  background-color: var(--header-bg-color);
  color: var(--footer-text-color);
  box-shadow: 0px 1px 12px 1px var(--header-bg-color-trans);
}
@media (max-width: 991px) {
    nav {
        flex-direction: column;
    }
}
nav #university-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}
nav #university-logo a .logo {
    width: 335px;
}
.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar-links .main-li {
    font-size: 1.15rem;
    font-weight: bold;
    padding: 25px 1.9rem;
    cursor: pointer;
    position: relative;
    clip-path: inset(0px 0 -300px -300px);
    z-index: 999;
}
.navbar-links .main-li::before {
    content: "";
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--footer-text-color);
    background-color: var(--footer-txt-color-trans);
    transition: all 0.4s;
    z-index: -1;
}
.navbar-links .main-li:hover::before,
.navbar-links .main-li.active::before{
    top: 0;
}
@media (max-width: 767px) {
    .navbar-links .main-li {
        font-size: .9rem;
        padding: 20px 1.1rem;
    }
}
.navbar-links .main-li a {
    color: var(--footer-text-color);
}
.navbar-links #megaMenuLi .mega-menu {
    position: absolute;
    top: 170%;
    right: 0;
    width: 320px;
    background-color: var(--footer-text-color);
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    transition: all .4s;
}
#megaMenuLi:hover .mega-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.navbar-links #megaMenuLi .mega-menu ul li {
    padding: 1.1rem;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 999;
}
.navbar-links #megaMenuLi .mega-menu ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-color-trans);
    transition: all .6s;
    z-index: -1;
}
.navbar-links #megaMenuLi .mega-menu ul li:last-child::before {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}
.navbar-links #megaMenuLi .mega-menu ul li:hover::before {
    left: 0;
}
.navbar-links #megaMenuLi .mega-menu ul li:not(:last-child) {
    border-bottom: 2px solid var(--night-button-bg-color);
}
.navbar-links #megaMenuLi .mega-menu ul li a {
    color: var(--header-bg-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    z-index: 2;
}
.navbar-links #megaMenuLi .mega-menu ul li a svg {
    margin-right: .8rem;
    font-size: 1.2rem;
}
/* SECTION - End Navbar */

/* *SECTION - Start Research Landing */
#research{
  position: relative;
  top: 78px;
  height: calc(100vh - 78px);
}
#research .research-landing h4{
  color: var(--header-bg-color);
}
#research .research-landing p{
  color: var(--button-text-color);
}
#research .research-landing button, #research-hub-address .research-hub-address-intro button,  #research-hub-doctors .research-hub-doctors-intro button{
  padding: 15px 40px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  width: fit-content;
  border-radius: 5px;
}
#research .research-landing button:hover, #research-hub-address .research-hub-address-intro button:hover, #research-hub-doctors .research-hub-doctors-intro button:hover{
  background-color: #780303;
}
#research::before{
  content: '';
  position: absolute;
  background-image: url("images/research.jpg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(2px) brightness(0.7);
}
/* *SECTION - End Research Landing */
/* *SECTION - Start Research Overview */
#research-overview{
  margin-top: calc(78px + 40px);
}
section>.research-main-title{
  color: var(--button-bg-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
section:hover>.research-main-title{
  font-size: 1.5rem;
}
section:hover>.research-main-title::before{
  left: -25px;
}
section>.research-main-title::before{
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--button-bg-color);
  left: -40px;
  top: 0;
  transition: all var(--trans-duration) ease-in-out;
}
#research-overview .research-overview .card {
  background-color: var(--card-bg-color);
}
#research-overview .research-overview .card:hover {
  background-color: var(--bg-color);
  box-shadow: none;
  transform: translateY(-10px);
}
#research-overview .research-overview .card h3{
  color: var(--button-bg-color);
  font-size: 1.7rem;
  font-weight: 600;
}
/* *SECTION - Start research-hub */
#research-hub , #research-hub-doctors{
background-color: var(--card-bg-color);
z-index: -2;
}
#research-hub .research-hub{
  width: 80%;
  min-height: 500px;
}
#research-hub .research-hub::before{
  content: '';
    position: absolute;
    background-image: url(images/hub.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(10px) brightness(0.65) ;
    z-index: 0;
    border-radius: 8px;
}
#research-hub .research-hub .research-hub-intro::before{
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--button-text-color);
  left: -30px;
  top: 0px;
}
/* *SECTION - End research-hub */


/* *SECTION - Start research-hub-address */
#research-hub-address .research-hub-address-intro button ,#research-hub-doctors .research-hub-doctors-intro button{
  padding: 15px 35px;
background-color: var(--button-bg-color);

}
/* *SECTION -End research-hub-address */

/* *SECTION - Footer */
footer,
.copy {
  background-color: #4e342e;
  color: #e4c59e;
  font-family: "Rubik", serif;
}
/* *REVIEW - foot-card-1  */
footer .foot-card-1 svg {
  cursor: pointer;
}
footer .foot-card-1 svg:hover {
  color: #e4c59e;
  transform: scale(1.15);
}
/* *REVIEW - foot-card-2 */

footer .foot-card-2 ul li {
  cursor: pointer;
}
footer .foot-card-2 ul li:hover {
  transform: scale(1.07) translateX(10px);
  color: var(--footer-text-color);
}
footer .foot-card-2 ul h3 {
  color: var(--footer-text-color);
}

/* *SECTION - second-row */

.copy hr {
  border-width: 2px;
  border-color: var(--footer-text-color);
  opacity: 0.3;
}
.copy p {
  color: var(--footer-text-color);
  opacity: 0.9;
}
